*{
    width: auto;
    padding: auto;
    
}

.logo img{
    height: 8rem;
    width: 9rem;
}
nav{
    width: 100%;
}

.nav-item{
    font-size: 19px;
}

.card{
    margin-bottom: 3rem;
    margin-right: 2rem;
    background-color: beige;
}

.card:hover {
  transform: translateY(-10px);
}

.h1{
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(
                280% 1946.63% at -2.5% 168.7%,
                rgb(97, 166, 242) 3.56053%,
                rgb(143, 111, 219) 8.55746%,
                rgb(255, 90, 94) 37.9909%,
                rgb(242, 201, 76) 100%
              );
    font-size: 29px;
}

.carousel-inner{
    height: 34rem; 
    width: 100%;
    align-items: center;
}

.carousel-item img{
    height: 35rem; 
    width: 100%;
    align-items: center;
}
.card-body{
    box-shadow: 1px 1px 10px 1px;
    
}

.card-text{
    margin-top: 1rem;
}

.container{
    width: 110%;
    background-color: beige;
    padding: 1rem;
    margin-bottom: 2rem;
}

footer {
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: rgb(91, 195, 195);
  color: black;
  margin-top: 1px;
}

.contain{
    height: 30rem;
    margin: 5rem;
    box-shadow: 4px 3px 15px 1px;
    cursor: pointer; 
}

.contain:hover{
    transform: translateX(-10px);
}

.contain {
    transition: transform 0.5s ease-in-out;
      }

.contain img{
    width: auto;
    height: 20rem;
    margin: 4rem;
}

.contain p{
    font-size: 19px;
}

.text{
    width: 50%;
    margin-left: 27%;
    margin-top: 3rem;
    text-align: center;
    background-color: rgb(91, 195, 195);
    box-shadow: 1px 1px 20px 1px;
}

iframe{
    width: 100%;
    margin-bottom: 1rem;
}

.about{
    width: 100%;
    padding: 5rem;
}

.butt{
    padding: 1.1rem;
    background-color: white;
    color: rgb(0, 119, 255);
    font-weight: 600;
}

.appointment{
    margin-bottom: 4rem;
    padding: 5rem;
    background-color: rgb(0, 119, 255);
}
.appointment p{
    margin: auto;
    color: white;
}
.commit{
    padding: 4rem;
    background-color: rgb(231, 229, 229);
    margin-bottom: 4rem;
}

.section{
    width: 35rem;
    background-color: rgb(254, 247, 240);
    margin: 2rem;
}
.cont{
    width: 40rem;
    background-color: rgb(254, 247, 240);
    justify-self: center;
}

.scroll-container {
    overflow: hidden; 
    white-space: nowrap;
    row-gap: 100px;
    width: 100%;
}

.scroll-content {
   display: flex; 
   padding: 20px;
   animation: marquee 25s linear infinite; 
}

@keyframes marquee {
   0% {transform: translateX(100%); }
   100% {transform: translateX(-100%); }
}

section img {
    width: 50%;
    margin-left: 10rem;
}

section{
    width: 100%;
    height: 90%;
    margin-top: 5rem;
    margin-bottom: 4rem;
    margin-left: 0;
    font-size: 20px;
}

    